.footer {
  background-color: #fff0f5;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #444;
  width: 100%;
  /* margin-top: auto;
  position: relative;
  bottom: 0; */
  height: 50px;
}

.redes a {
  color: #c05a63;
  text-decoration: none;
  margin: 0 0.5rem;
}

